body {
    margin: 0;
    overflow: hidden; 
}
#attacker {
    position: absolute;
    width: 100px; 
    height: 60px;
}
#grass{
    width: 1980px;
    height: 980px;
}
#defender{
    position: absolute;
    width: 200px; 
    height: 80px;
}
